<!DOCTYPE html>
<html>
    {{> header}}

<style>
    div.deck {
  background-color: lightblue;
  width: 500px;
  height: 700px;
  overflow: scroll;
}

</style>

<body>
    <h2 style="text-align: center">Form your ultimate deck !</h2>
    <button type="button">Build Deck !</button>
    <div class="deck">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>

</body>


</html>