<!DOCTYPE html>
<html>
    {{> header}}

<style>
    body {
        background-color: black
    }
    div.deck {
  background-color: lightblue;
  width: 400px;
  height: 700px;
  overflow: scroll;
  float: left;
}

</style>

<body>

    <br>
    <h1 style="color:white">Pick your cards</h1><h1 style="color:white; text-align:center">Select your Hero</h1>
    <h1 style="text-align: right; color:white">Your Current Deck !</h1><br>
    <h1 style="color:white; text-align:right">Your Hero is:___________</h1>
    <button type="button" style="float: right">Confirm Deck?</button><br>

    
    <br>
            <div class="deck">
<button type="button"><img src="/cards/black_ice.jpg"></button>
<button type="button"><img src="/cards/champion_champignon.jpg" alt="Champignon"> </button>
<button type="button"><img src="/cards/chwouster.jpeg" alt="Chwouster"></button><br><br>
<button type="button"><img src="/cards/cojnitive_cog.jpg" alt="Cojnitive Cog"></button>
<button type="button"><img src="/cards/creeping_crawler.jpeg" alt="Creeping Crawler"></button>
<button type="button"><img src="/cards/dark_ladybird.jpg" alt="Dark Ladybird"></button><br><br>
<button type="button"><img src="/cards/ebony_drakkon.jpg" alt="Ebony Drakkon"></button>
<button type="button"><img src="/cards/enraged_dog.jpg" alt="Enraged Dog"></button>
<button type="button"><img src="/cards/francis_gau.jpg" alt="Francis Gau"></button><br><br>
<button type="button"><img src="/cards/grey_magician.jpg" alt="Grey Magician"></button>
<button type="button"><img src="/cards/grim_reaper.jpg" alt="Grim Reaper"></button>
<button type="button"><img src="/cards/hamaon_dispenser.jpg" alt="Champignon"></button><br><br>
<button type="button"><img src="/cards/incogroach.jpeg" alt="Black Ice"></button>
<button type="button"><img src="/cards/kobayashi_groo.jpg" alt="Champignon"></button>
<button type="button"><img src="/cards/legendary_ant.jpg" alt="Black Ice"></button><br><br>
<button type="button"><img src="/cards/light_slayer.jpeg" alt="Champignon"></button>
<button type="button"><img src="/cards/militia.jpeg" alt="Black Ice"></button>
<button type="button"><img src="/cards/mysterious_phelid.jpeg" alt="Champignon"></button><br><br>
<button type="button"><img src="/cards/noisy_table.jpg" alt="Black Ice"></button>
<button type="button"><img src="/cards/oups27.jpg" alt="Champignon"></button>
<button type="button"><img src="/cards/owarida.jpg" alt="Black Ice"></button><br><br>
<button type="button"><img src="/cards/protective_barzrard.jpeg" alt="Champignon"></button>
<button type="button"><img src="/cards/psion.jpg" alt="Black Ice"></button>
<button type="button"><img src="/cards/ranch_rammer.jpg" alt="Champignon"></button><br><br>
<button type="button"><img src="/cards/reckless_avandon.jpeg" alt="Black Ice"></button>
<button type="button"><img src="/cards/slime_felcher.jpeg" alt="Champignon"></button>
<button type="button"><img src="/cards/sturdy_wall.jpeg" alt="Black Ice"></button><br><br>
<button type="button"><img src="/cards/timidape.jpg" alt="Champignon"></button>
<button type="button"><img src="/cards/wooden_palisade.jpeg" alt="Black Ice"></button>
<button type="button"><img src="/cards/ywontudei.jpeg" alt="Champignon"></button>
    </div>
<div style="background-color:lightblue;height:600px;width:300px;overflow:scroll;padding:50px;float:right;">
</div>
</body>


</html>